body{
    background: lightblue;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding-top: 15px;
}

.navegacao{
    display: inline;
    margin: 0 15px 0 15px;
}

nav ul{
    display: inline;
    margin: 15px 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #34b4b4;
    transition: 0.8s;
}

#fotoPerfil{
    height: 250px;
    width: 250px;
    margin: 5% 40% 0 45%;
    border-radius: 50%;
    align-items: center;
}

.principal{
    padding: 30px;
}

.principal h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.principal p{
    margin-bottom: 1em;
}

.principal strong{
    font-weight: bold;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#subtitulo{
    font-size: 30px;
    margin-bottom: 5%;
    margin-top: 0%;
}


.itens{
    font-style: italic;
    font-size: 26px;
    line-height: 1.5;
    width: 300px;
}

.itens::before{
    content: "🗸 ";
}

.itens:first-child{
    font-weight: bold;
}

.habilidades{
    background: rgb(105, 206, 240);
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.conteudo-habilidades{
    width: 820px;
    margin: 0 auto;
    display: inline-flex;
}

.lista-habilidades{
    width: 40%;
    display: inline-block;
}

.cvHabilidades{
    width: 60%;
    box-shadow: 10px 10px 20px  #000000;
}

@media screen and (max-width: 480px) {
    nav{
        width: auto;
    }
}